.account{
    text-align: center;
    background-color:teal;
    opacity:1;
    border: 0px solid black;
    width:auto;
    margin: 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
button{
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(217, 255, 0, 0.833);
}
button:focus{
    outline: none;
}
